@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.ttf");
}
@media screen and (min-width: 0) {
  main #hero {
    width: 100%;
    height: auto;
  }
  main #hero img {
    width: 200%;
    height: 400px;
    background-color: red;
  }
  main #consult_section {
    scroll-behavior: smooth;
    background: rgb(186, 154, 230);
    background: linear-gradient(114deg, rgb(173, 157, 196) 0%, rgb(204, 218, 235) 100%);
  }
  main #consult_section textarea {
    resize: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  #services {
    width: 100%;
    height: auto;
  }
  #services #keys ul li {
    white-space: nowrap;
  }
  #services #content {
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-margin-top: 300px;
  }
  #services #content .service .heading {
    margin-bottom: 40px;
    padding-left: 5px;
  }
  #services #content .service .content {
    padding: 25px;
  }
}