@import "./includes/default";
@import "./includes/header";
@import "./includes/menu";

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $font1;
	font-weight: 300;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	min-height: 100vh;
	height: auto;
	position: relative;
}
