@import "./includes/default";
@media screen and (min-width: 0) {
	body {
		height: auto;
		padding-bottom: 0;
	}
	main#home {
		#hero {
			background-color: green;
			width: 100%;
			height: 50vh;
			position: relative;
			overflow: hidden;
			background: url("../images/people.png");
			background-size: 140% 100%;
			background-position: center;
			img {
				width: 160%;
				position: center;
				height: 100%;
			}
			.hero_text {
				width: 90%;
				height: 140px;
				background-color: $color1;
				opacity: 0.7;
				left: 5%;
				color: $color3;
				position: absolute;
				h2 {
					font-weight: 300;
					font-size: 32px;
				}

				right: 0;
				bottom: 0;
				padding: 40px 30px;
			}
		}
		#container {
			padding-top: 45px;
			color: $color2;
			line-height: 30px;
			font-size: 17px;
			.intro {
				width: 100%;
				height: auto;
				padding: 0 20px;
				padding-bottom: 15px;
				position: relative;
				padding-top: 25px;
				a {
					color: $color2;
					text-decoration: none;
					font-family: $font4;
					font-size: 18px;
					@include flex(flex-start, center);
					span {
						width: 20px;
						height: 20px;
						background-color: $color1;
						border-radius: 50%;
						@include flex(center, center);
						margin-left: 10px;
						i {
							color: white;
							font-size: 14px;
						}
					}
					&:hover {
						color: $color1;
						cursor: pointer;
					}
				}
				&::before {
					content: "";
					width: 120px;
					height: 5px;
					background-color: $color1;
					position: absolute;
					left: 20px;
					top: 0;
					z-index: 2;
					margin-bottom: 20px;
				}
				// background-color: $color1;
			}
			.collage {
				width: 100%;
				padding: 8px 0;
				height: auto;
				// background-color: green;
				display: grid;
				margin-top: 20px;
				.collage_elem {
					background-color: #fff;
					width: 100%;
					height: 250px;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: 100%;
						background-color: red;
						margin: 0;
					}
				}
				#report,
				#talents {
					margin-bottom: 20px;
					padding: 10px 20px 20px 20px;
					.heading {
						h3 {
							a {
								text-decoration: none;
								color: $color2;
								font-family: $font3;
								text-transform: uppercase;
								font-weight: 400;
								font-size: 18px;
								span {
									font-size: 14px;
									margin-left: 5px;
								}
							}
						}
					}
					.content {
						h3 {
							font-size: 22px;
							margin-bottom: 10px;
							text-transform: capitalize;
						}
						width: 100%;
						height: auto;
						margin-top: 15px;
						padding-bottom: 15px;
						position: relative;
						padding-top: 15px;
						a {
							color: $color2;
							text-decoration: none;
							font-family: $font4;
							font-size: 18px;
							@include flex(flex-start, center);
							span {
								width: 20px;
								height: 20px;
								background-color: $color1;
								border-radius: 50%;
								@include flex(center, center);
								margin-left: 10px;
								i {
									color: white;
									font-size: 14px;
								}
							}
							&:hover {
								color: $color1;
								cursor: pointer;
							}
						}
						&::before {
							content: "";
							width: 80px;
							height: 5px;
							background-color: $color1;
							position: absolute;
							left: 0;
							top: 0;
							z-index: 2;
							margin-bottom: 20px;
						}
						// background-color: $color1;
					}
				}
			}
			#headlines,
			#investors {
				width: 100%;
				height: auto;
				background-color: $color5;
				padding: 40px 20px;
				a {
					text-decoration: none;
					font-family: $font3;
					color: $color2;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 18px;
					display: block;
					margin-bottom: 15px;
					span {
						font-size: 14px;
						margin-left: 5px;
					}
					&:hover {
						color: $color1;
					}
				}
				.headline,
				.info {
					width: 100%;
					height: auto;
					padding-bottom: 35px;
					position: relative;
					padding-top: 15px;
					.date {
						font-family: $font4;
						font-size: 18px;
						// font-weight: bold;
					}
					.desktop {
						display: none;
					}
					p {
						font-size: 15px;
					}
					.dollar {
						font-weight: bold;
						margin-top: 20px;
						width: 70px;
						height: auto;
						position: relative;
						&::after {
							content: "\2193 2%";
							white-space: pre-wrap;
							position: absolute;
							font-weight: bold;
							@include flex(flex-start, flex-start);

							font-size: 18px;
							right: 0;
							top: -15px;
						}
					}

					&::before {
						content: "";
						width: 90px;
						height: 5px;
						background-color: $color1;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;
						margin-bottom: 20px;
					}
					a {
						color: $color2;
						text-decoration: none;
						font-family: $font4;
						font-size: 18px;
						text-transform: none;
						@include flex(flex-start, center);
						span {
							width: 20px;
							height: 20px;
							background-color: $color1;
							border-radius: 50%;
							@include flex(center, center);
							margin-left: 10px;
							i {
								color: white;
								font-size: 14px;
							}
						}
						&:hover {
							color: $color1;
							cursor: pointer;
						}
					}
				}
			}

			#investors {
				padding-bottom: 0px;
			}

			#socials {
				width: 100%;
				height: 350px;
				padding: 20px 0;
				color: $color3;
				background-color: $color1;
				.intro {
					p {
						font-size: 24px;
					}
					.em {
						font-family: $font4;
						font-size: 20px;
						line-height: 25px;
						margin-bottom: 30px;
					}
				}
				.social_elements {
					width: 100%;
					margin-top: 20px;
					padding: 0 20px;
					height: auto;
					@include flex(flex-start, center);
					.social_element {
						border: 1px solid white;
						border-radius: 50%;
						width: 60px;
						height: 60px;
						margin-right: 15px;
						@include flex(center, center);
						i {
							font-size: 26px;
						}
					}
				}
			}
		}
	}
	footer {
		padding: 10px 10px 40px 10px;
		width: 100%;
		height: auto;

		nav {
			width: 70%;

			height: 70px;
			a {
				text-decoration: none;
				margin-top: 20px;
				font-family: $font4;
				color: $color2;
				font-size: 16px;

				&::after {
					content: "|";
					margin-left: 10px;
					margin-right: 5px;
				}
				&:nth-child(6) {
					&::after {
						display: none;
					}
				}
			}
		}
		.attribution {
			font-family: $font4;
			span {
				font-family: $font4;
			}
		}
	}
}

@media screen and(min-width : 546px) {
	main#home {
		#container {
			.collage {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 300px 300px;
				gap: 20px;
				.collage_elem {
					height: 100%;
					&:nth-child(2) {
						grid-row: 1/3;
						grid-column: 2/3;
					}
				}
				#report,
				#talents {
					width: 100%;
					grid-row: 3/4;
					grid-column: 1/3;
				}
			}
		}
	}
}

@media screen and(min-width:1024px) {
	main#home {
		#hero {
			height: 88vh;
			background-size: 100% 120%;
			-webkit-transition: linear all 2s;
			-o-transition: linear all 1s;
			-webkit-transition: linear all 1s;
			transition: linear all 1s;
			.hero_text {
				width: 82%;
				left: 9%;
				h2 {
					font-size: 65px;
					letter-spacing: -3px;
				}
			}
		}
		#container {
			.intro {
				width: 100%;
				max-width: 1140px;
				margin: 0 auto;
				p {
					width: 90%;
					font-size: 22px;
					margin-bottom: 10px;
				}
			}
			.collage {
				display: grid;
				grid-template-columns: 2fr 3fr 3fr;
				grid-template-rows: 500px 300px;
				height: auto;
				gap: 0 20px;
				padding-bottom: 40px;

				.collage_elem {
					height: 100%;
					overflow: hidden;
					img {
						width: 210%;
						height: 100%;
					}
					&:nth-child(1) {
						grid-row: 1/3;
						grid-column: 1/2;
					}
					&:nth-child(2) {
						grid-row: 1/3;
						grid-column: 3/4;
					}
					&:nth-child(3) {
						grid-row: 2/3;
						grid-column: 2/3;
						img {
							width: 100%;
							margin-left: 0;
						}
					}
				}
				#report,
				#talents {
					grid-row: 1/3;
					grid-column: 2/3;

					.heading {
						h3 {
							a {
								font-size: 26px;
								text-decoration: none;
								font-weight: 400;
								letter-spacing: 0.5;
								color: $color2;
								text-transform: uppercase;
								font-family: $font3;
								span {
									font-size: 22px;
								}
								&:hover {
									color: $color1;
									cursor: pointer;
								}
							}
						}
					}
					.content {
						height: auto;

						h3 {
							font-size: 64px;
							margin-top: 20px;
							line-height: 60px;
						}
						p {
							font-size: 22px;
							margin: 20px 0;
							width: 90%;
						}
						a {
							color: $color2;
							text-decoration: none;
							font-family: $font4;
							font-size: 18px;
							margin-top: 30px;
							@include flex(flex-start, center);

							span {
								width: 20px;
								height: 20px;
								background-color: $color1;
								border-radius: 50%;
								@include flex(center, center);
								margin-left: 10px;
								i {
									color: white;
									font-size: 14px;
								}
							}
							&:hover {
								color: $color1;
							}
						}
					}
				}
			}
			#headlines,
			#investors {
				padding-top: 60px;
				height: auto;
				padding-bottom: 0;
				.headlines_container,
				.investors_container {
					width: 100%;
					height: 750px;
					margin: 0 auto;
					max-width: 1124px;
					.articles,
					.information {
						display: grid;
						grid-template-columns: 3fr 2fr;
						grid-template-rows: 1fr 1fr 1fr;
						gap: 20px;
						.headline {
							height: 100%;
							.date {
								font-size: 21px;
							}
							.desc {
								a {
									font-size: 30px;
									line-height: 40px;
									font-family: $font1;
									font-weight: 300;
								}
								// width: 90%;
							}
							&:nth-child(1) {
								// background-color: red;
								grid-row: 1/3;
								.desc {
									width: 100%;
									a.active {
										font-size: 64px;
										line-height: 65px;
									}

									padding-left: 3px;
								}
								.desktop {
									display: block;
									font-size: 23px;
									font-weight: 300;
									margin-top: 40px;
									a {
										color: $color2;
										text-decoration: none;
										font-family: $font4;
										font-size: 18px;
										margin-top: 30px;
										@include flex(flex-start, center);
										span {
											width: 20px;
											height: 20px;
											background-color: $color1;
											border-radius: 50%;
											@include flex(center, center);
											margin-left: 10px;
											i {
												color: white;
												font-size: 14px;
											}
										}
										&:hover {
											color: $color1;
											cursor: pointer;
										}
									}
								}
							}
						}
					}
				}
				.investors_container {
					height: 300px;
					.information {
						grid-template-columns: repeat(3, 1fr);
						height: 300px;

						.info {
							.desc {
								font-size: 30px;
								font-weight: 300;
							}
							p {
								font-size: 22px;
								margin-top: 10px;
								font-weight: 300;
								margin-bottom: 20px;
							}
							.dollar {
								font-size: 72px;
								font-family: $font3;
								font-weight: 400;
								width: 150px;
								height: 100px;
								padding-top: 30px;
								@include flex(flex-start, flex-start);
								span {
									font-size: 36px;
									margin-top: -10px;
									font-family: $font3;
								}
							}
						}
					}
				}
			}

			#socials {
				height: 300px;
				.socials_container {
					width: 100%;
					height: auto;
					max-width: 1124px;
					margin: 0 auto;
					padding: 30px 0;
					@include flex(space-between, center);
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					-ms-flex-direction: row;
					flex-direction: row;
					.intro {
						padding: 20px 0;
						margin-right: auto;
						&::before {
							display: none;
						}
						p {
							font-size: 44px;

							line-height: 40px;
							width: 100%;
						}
						.em {
							font-size: 24px;
						}
					}
					.social_elements {
						width: 30%;
						margin-left: 15%;
						height: auto;
					}
				}
			}
		}
	}
	footer {
		height: 100px;
		.footer_container {
			width: 100%;
			height: 70px;
			max-width: 1124px;
			margin: 0 auto;
			@include flex(flex-start, center);
			nav {
				width: 60%;
				@include flex(center, center);
				-webkit-box-ordinal-group: 3;
				-ms-flex-order: 2;
				order: 2;
				margin-left: 10px;
				a {
					margin: 0;
					font-size: 18px;
				}
			}
			.attribution {
				font-size: 18px;
			}
		}
	}
}
