@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@font-face {
	font-family: "georgia";
	src: url("../fonts/georgia.ttf");
}

$color1: #ad342a;
$color4: #902c22;
$color2: #212529;
$color5: #f1f1f1;
$color3: #ffffff;
$font1: "Roboto", sans-serif;
$font3: "Roboto Condensed", sans-serif;
$font2: "EB Garamond", serif;
$font4: "georgia";

@mixin flex($justify, $align) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: $justify;
	-ms-flex-pack: $justify;
	justify-content: $justify;
	-webkit-box-align: $align;
	-ms-flex-align: $align;
	align-items: $align;
}
